*~
*.pyc
parser.out
parsetab.py
oft.log
*.dot
*.png
*.pcap

configure
aclocal.m4
autom4te.cache/
compile
config.guess
config.log
config.status
config.sub
depcomp
libtool
m4/
missing
test-driver

gen-cpp/
gen-py/
targets/*/bmv2/build/
targets/*/bmv2/drivers
targets/*/bmv2/*_bmv2
targets/*/bmv2/*_bmv2.json
.bmv2-pd-sane
thrift_files.ts
